* {
  box-sizing: border-box;
}

$checkbox-color: rgb(202, 60, 60);
$checkbox-shadow: rgba(238, 156, 167, 0.2);
$add-button: rgba(255, 255, 255, 0.7);
$add-button-shadow: rgba(238, 156, 167, 0.4);

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      62deg,
      rgba(7, 86, 160, 0.973) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(7, 86, 160, 0.973) 39%,
      rgba(255, 122, 151, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(7, 86, 160, 0.973) 40%,
      rgba(255, 122, 151, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(7, 86, 160, 0.973) 83%,
      rgba(255, 122, 151, 0.5) 23%
    );
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

input {
  outline: none;
}

.app-container {
  max-width: 480px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 25px;
  color: #222;
}

.app-header {
  font-size: 20px;
  line-height: 32px;
  margin: 0, 0, 12px 0;
  color: #272727;
}

.submit-task {
  width: 32px;
  height: 32px;
  font-size: 0;
  flex-shrink: 0;
  border: none;
  background: $add-button;
  color: #272727;
  background-image: url("assets/circle.png");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 12px 0 $add-button-shadow;
}

.add-task {
  height: 40px;
  font-size: 14px;
  display: flex;
}

.task-input {
  width: 100%;
  padding: 0 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #272727;
  background-color: transparent;
  margin-right: 15px;
}

.task-input::placeholder {
  color: #272727;
}

.task-list-item {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: cener;
  padding: 8px;
  border-radius: 35px;

  input {
    width: 16px;
    height: 16px;
    border: 1px solid #272727;
    border-radius: 50%;

    &:hover {
      border-color: $checkbox-color;
      box-shadow: 0 0 0 3px $checkbox-shadow;
    }

    &:checked {
      border: 1px solid $checkbox-color;
      background-color: $checkbox-color;

      + span {
        color: #272727;
        text-decoration: line-through #272727;
      }
    }
  }
}

.task-list-item-label {
  display: flex;
  align-items: flex-start;
  color: #272727;
  margin-right: 8px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.delete-btn {
  margin-left: auto;
  margin-right: 5px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("assets/trash.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}
